*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container{
    padding: 0px 15px;
    max-width: 800px;
    margin: auto;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav ul li {
    margin-left: 30px;
    display: inline-block;
    list-style: none;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.header__nav ul li a { 
    display: flex; 
    color: #fff;
    text-decoration: none;
    padding-bottom: 15px;
}

.header__nav ul li::after{
    content: "";
    background-color: rgba(42, 235, 219);
    height: 2px;
    width: 0;
    display: block;
    transition: .3s all;
}

.header__nav ul li:hover:after{
    width: 70%;
}

.container__header{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.header__top{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.m-top{
    margin-top: 27px;
}


.header__bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 80px;
}


h1{
    text-align: center;
    color: #fff;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 80px;
    margin-top: 200px;
}

.about__subcontent{
    margin-bottom: 157px;
}

.about__inner,
.people__inner{
    text-align: center;
    margin-bottom: 85px;
}

.about__inner span,
.people__inner span{
    display: inline-block;
    color: #747a7f;
    font-size: 44px;
    font-weight: 600;
}

.about__subcontent span,
.people__subcontent span{
    margin-bottom: 57px;
}

.about__subcontent p,
.people__subcontent p{
    font-size: 18px;
    font-weight: 300;
    color: #021725;
    line-height: 1.6;
    margin-bottom: 51px;
}


.about__subtitle,
.people__subtitle,
.post__subtitle,
.location__subtitle{
    font-size: 13px;
    font-weight: 600;
    color: #d4af37;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.about__btn,
.post__btn{
    border: 1px solid #000;
    padding: 12px 25px;
    color: #676d73;
    font-size: 14px;
    font-weight: 300;
    transition: .3s all;
    outline: none;
}

.about__btn:hover,
.post__btn:hover{
    background-color: chocolate;
    color: #fff;
    border: 1px solid chocolate;
}

.images__top,
.images__bottom{
    display: flex;
}



.images__top img,
.images__bottom img{
    height: 200px;
    width: 25%;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

.images{
    margin-bottom: 153px;
}

.people__supcontent{
    display: flex;
    justify-content: space-between;
}

.work__subtitle{
    color: #d4af37;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 22px;
}



.contact__face{
    background-color: #f9f9f9;
}

.title__people{
    display: flex;
    flex-direction: column;
    padding: 20px 19px 49px 19px;
}

.name__title{
    display: flex;
    justify-content: flex-start;
    color: #676d73;
    font-size: 21px;
    margin-bottom: 21px
}

.people__text{
    text-align: left;
    width: 200px;
    line-height: 1.7;
    font-size: 13px;
    font-weight: 300;
    color: #84898c;
}

.people__contacts{
    margin-bottom: 161px;
}

.post{
    margin-bottom: 170px;
}

.post__text,
.location__text{
    text-align: center;
}

.post__title,
.location__title{
    text-align: center;
    color: #747a7f;
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 50px;
    display: inline-block;
}

.post__data{
    display: flex;
    background-color: #f9f9f9;
    margin-bottom: 90px;
}

.post__data__title{
    padding: 40px 22px 60px;
}

.data{
    color: #505d68;
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 30px;
}

.post__space{
    font-size: 30px;
    font-weight: 400;
    color: #505d68;
    margin-bottom: 30px;
}

.post__data__title p{
    color: #505d68;
    font-size: 13px;
    line-height: 1.6;
    width: 250px;
    margin-bottom: 60px;
}

.post__btn__two{
    text-align: center;
}

.post__btn__bottom {
    text-align: center;
    height: 100px;
}

.maps img{
    display: block;
    width: 100%;
}

.location__bg{
    background-color: #f9f9f9;
    padding: 50px 35px 46px;
}

.location__info__one,
.location__info__two{
    display: flex;
    justify-content: space-between;
}

.title__street,
.title__phone,
.fax__title,
.emain__title{
    text-transform: uppercase;
    font-size: 13px;
    color: #021725;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}


.street{
    margin-bottom: 95px;
}


.street p,
.phone p,
.fax p,
.email p{
    width: 230px;
    color: #b1b5b9;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.8;
    letter-spacing: 0.7;
    text-align: center;
}

.location{
    margin-bottom: 86px;
}

.footer{
    background-color: #f9f9f9;
    padding: 21px;
}



.footer__data,
.footer__email{
    color: #505d68;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.8;
    letter-spacing: 0.7;
}






.owl-nav .owl-prev{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40%;
    left: -72px;
    outline: none;
}

.owl-nav .owl-prev:before{
    content: '\f053';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    font-size: 35px;
    color: #b1b5b9;
}

.owl-nav .owl-next:before{
    content: '\f053';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    font-size: 35px;
    color: #b1b5b9;
}

.owl-nav .owl-next{
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40%;
    right: -72px;
    outline: none;
}


.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: inline-block;
}



.owl-dots .owl-dot span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #505d68;
    border-radius: 50%;
    margin: 5px;
    margin-top: 50px;
}

.owl-dots .owl-dot{
    outline: none;
}

.owl-dots .owl-dot.active span{
    background-color: rgba(107, 107, 255, 0.726);
}



.hamburger-menu{
    display: none;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    top: 40%;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    background-color: #d4af37;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }


  .ui-dialog{
      background-color: rgb(209, 128, 128);
      padding: 20px;
      color: #fff;
      max-width: 700px;
      height: 200px;
      outline: none;
  }


  .ui-dialog-titlebar-close{
      margin-left: 50px;
      margin-bottom: 15px;
      cursor: pointer;
  }