*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container__header{
    max-width: 1200px;
    margin: auto;
}

.container{
    max-width: 770px;
    margin: auto;
}